In [10]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sb

from sklearn.model_selection import train_test_split

In [6]:
def split_wine(df):
    '''
    This function performs split on WineQT data, stratify quality.
    Returns train, validate, and test dfs.
    '''
    train_validate, test = train_test_split(df, test_size=.2, 
                                        random_state=123, 
                                        stratify=df.quality)
    train, validate = train_test_split(train_validate, test_size=.3, 
                                   random_state=123, 
                                   stratify=train_validate.quality)
    return train, validate, test

In [2]:
pd.read_csv('WineQT.csv')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,2
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,3
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1138,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,1592
1139,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6,1593
1140,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,1594
1141,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,1595
1142,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,1597

In [3]:
df = pd.read_csv('WineQT.csv')

In [7]:
train, validate, test = split_wine(df)

In [8]:
train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
240,12.5,0.280,0.54,2.3,0.082,12.0,29.0,0.99970,3.11,1.36,9.800000,7,339
818,9.6,0.420,0.35,2.1,0.083,17.0,38.0,0.99622,3.23,0.66,11.100000,6,1153
1026,7.3,0.670,0.02,2.2,0.072,31.0,92.0,0.99566,3.32,0.68,11.066667,6,1439
692,7.4,0.580,0.00,2.0,0.064,7.0,11.0,0.99562,3.45,0.58,11.300000,6,985
159,8.6,0.645,0.25,2.0,0.083,8.0,28.0,0.99815,3.28,0.60,10.000000,6,223
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,7.7,0.640,0.21,2.2,0.077,32.0,133.0,0.99560,3.27,0.45,9.900000,5,1419
783,10.8,0.470,0.43,2.1,0.171,27.0,66.0,0.99820,3.17,0.76,10.800000,6,1109
558,8.3,0.430,0.30,3.4,0.079,7.0,34.0,0.99788,3.36,0.61,10.500000,5,778
976,8.2,0.885,0.20,1.4,0.086,7.0,31.0,0.99460,3.11,0.46,10.000000,5,1376
120,7.9,0.885,0.03,1.8,0.058,4.0,8.0,0.99720,3.36,0.33,9.100000,4,170

In [9]:
train.quality.value_counts()

5    270
6    259
7     80
4     18
8      9
3      3
Name: quality, dtype: int64

In [18]:
sb.barplot(data=train, x=train.quality, y=train.quality.valuecounts())

AttributeError: 'Series' object has no attribute 'valuecounts'

In [21]:
train.quality.value_counts()

5    270
6    259
7     80
4     18
8      9
3      3
Name: quality, dtype: int64